@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    scroll-behavior: smooth;
}

/* Header */

header{
    background-color:  white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}



.inner{
    display: flex;
    justify-content: space-between;
    padding:12px 0px 12px 0px;
    background-color: white;
}

.menu{
    position: relative;
    flex: 2;
}

.logo{
    flex: 0.5;
}

#logo-img{
    width: 200px;  
}

/* nav links */
.menu-list{
    float: right;
    display: flex;
    list-style: none;
    font-size: 17px;
    font-weight: 500;
}

li a{
    color: #202122 !important;
}

.menu-list a:hover{
    cursor: pointer;
    color: #EB4559 !important;
    transition: all 0.5s ease;
}

/* navbar open button  */
#explore-btn,
.primary-button{
    outline: none;
    border: none;
    display: none;
    color: white;
    background-color: #EB4559;
    border-radius: 100px;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}

#explore-btn:hover,
.primary-button:hover{
    color: white;
    background-color:  #ca3d4d;
    transition: all 0.3s ease;
}

.open{
    transform: translateX(890px);
}

/* landing-section */

.landing-section{
    margin-top: 50px;
}


.catch-phrases h1,
.symptoms h1,
.spread-text h1,
.call-info h1{
    font-size: 50px;
}

.catch-phrases p,
.symptoms p,
.spread-text p,
.call-info p
{
    color: #6D7083;
    margin-top: 20px;
}

.primary-button{
    display: block;
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    outline: none;
    border: none;
}

/* Covid Data */

.covid-data{
    margin-top: 100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
}

input[type=text]{
    outline: none;
    padding: 5px;
}

.search-country{
    position: relative;
}

#error-icon{
    width: 25px;
    display: none;
}

#confirmedCases,
#Deaths,
#placeAffected{
    color:  #ca3d4d;
}

#RecoveredCases{
    color:#60CC8A;
}


.covid-data p{
    color: #6D7083;
}


/* Symptoms */

.symptoms{
    margin-top: 100px;
}

.symptoms p{
    display: inline;
    margin-left: 15px;
}

.cases{
    margin-top: 30px;
}

.check{
    width: 20px;
}

#check{
    width: 45px;
}


/* Transmission */

.transmission-section{
    background-color: #151D41;
    padding-top: 50px;
    color: white;
}

.prevention{
    padding: 25px;
    background-color: #484E68;
    margin: 50px;
    border-radius: 5px;
}

.details-tab p{
    margin-left: 20px;
}


.transmission-img{
    width: 50px;
    margin-bottom: 20px;
}

/* Prevention section */

.head,
.subtitle{
    text-align: center;
}

.head{
    font-size: 40px;
}

.protect{
    margin-top: 100px;
}

.service{
    height: 100px;
    width: 75px;
}

.service-typ p,
.subtitle{
    font-size: 15px;
    color:  #6D7083;
}

/* Helpline section */

.helpline-section{
    margin-top: 120px;
}

.landing-logo,
.help-logo{
    width: 550px;
}

.service-typ h2,
.phone h2,
.mail h2{
    font-size: 20px;
}

.care,
.phone,
.mail{
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 20px;
}

#phone{
    height: 52px;
    margin-right: 50px;
    transform: rotate(-30deg);
}

#mail{
    height: 52px;
    margin-right: 20px;
}



/* Media Queries */

@media all and (max-width:1179px){
    /* Navbar */
    #explore-btn:active,
    .menu,
    .inner{
        display: block;
    }

    li a{
        margin-top: 40px;
        border-bottom: 2px solid black;
    }

    .menu-list{
        background-color:  #F4F4F4;
        float: left;
        flex-direction: column;
        position: fixed;
        top: -20px;
        left: -945px;
        height: 100vh;
        width: 50%;
        transition: transform 0.5s;
    }

    #explore-btn{
        float: right;
        display: inline; 
        font-size: 15px;
    }

    #logo-img{
        float: left;
        width: 150px;
    }

    .symptoms h1{
        font-size: 30px;
        text-align: center;
    }

}


@media all and (max-width:550px){
    .menu-list{
        width: 90%;
    }

    .landing-logo{
        width: 250px;
    }

    .catch-phrases{
        margin-bottom: 70px;
    }

    .catch-phrases h1,
    .spread-text h1,
    .symptoms h1{
        font-size: 30px;
        text-align: center;
    }

    .catch-phrases p,
    .primary-button,
    .service-typ h2,
    .phone h2,
    .mail h2,
    .spread-text p
    {
        font-size: 15px;
        text-align: center;
    }

    .details-tab p{
        text-align: left;
    }


    .spread-text{
        margin-bottom: 30px;
        padding: 0px;
    }

    /* Helpline UI */
    .help-logo{
        width: 350px;
        margin-top: 30px;
    }

    .cases p{
        font-size: 11px;
    }

}


@media all and (max-width:320px){
    body{
        text-align: center;
    }

    .landing-logo,
    .help-logo{
        width: 250px;
        margin-top: 30px;
    }
}
